h2{
    color: darkslateblue;
    margin-bottom: 30px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}


label{
    font-weight: bold;
}

input[type="button"]{
    display: block;
    width: 200px;
    margin: 10px auto;
    background-color: darkslateblue;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: indigo;
}

